.footer_container_home{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo_footer_home{
    width: 70px;
    height: 70px;
    margin: 20px;
    border-color: white;
  }